<mat-toolbar color="primary" class="mat-elevation-z10">
  <button mat-button>
    <a href="/login"> Login</a>
  </button>
  <button mat-button>
    <a href="/logout"> Logout</a>
  </button>
  <div>is authenticated: {{ auth.isAuthenticated$ | async }}</div>
  <div>
    <ul *ngIf="auth.user$ | async as user">
      <li>user: {{ user.name }}</li>
      <li>email: {{ user.email }}</li>
    </ul>
  </div>
  <div>
    <a href="/dashboard">Home</a>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>
